<section class="wrapper">
  <div class="footer_link_container">
    <div>
      <img src="/assets/images/footer_kohaku_logo.png" alt="Kohaku Logo image">
    </div>
    <div class="footer_link_sub_container">
      <div>    
        <h2 class="footer_list_heading">Quick Link</h2>
        <nav>
          <ul>
            <li><a href="{{ '/about.html' | relative_url }}">About</a></li>
            <li><a href="{{ '/services.html' | relative_url }}">Services</a></li>
            <li><a href="{{ '/privacy.html' | relative_url }}">Privacy</a></li>
            <li><a href="{{ '/terms.html' | relative_url }}">Terms</a></li>
          </ul>
        </nav>
      </div>
      <div>    
        <h2 class="footer_list_heading">Online Shop</h2>
        <nav>
          <ul>
            <li><a href="{{ '/shops.html' | relative_url }}">Shop</a></li>
            <li><a href="{{ '/services.html' | relative_url }}">Shipping</a></li>
            <li><a href="{{ '/home.html' | relative_url }}">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <h2 class="footer_list_heading">Get In Touch</h2>
        <nav>
          <ul>
            <li><a href="tel:+64202594363">+64202594363</a></li>
            <li><a href="kohaku.japan.19@gmail.com">kohaku.japan.19@gmail.com</a></li>
            <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
          </ul>
        </nav>
      </div>      
    </div>
  </div>
  <div class="footer_border"></div>
  <p class="footer_copyright">&copy; 2025 Kohaku. All rights reserved.</p>
</section>