/**
  * About___common
 */
.about_heading {
  text-align: left;
}

/**
  * About___top_wrapper
 */
 .about_top_wrapper {
    background-image: url('/assets/images/about_intro.png');

 }

/**
  * About___chef
 */
.about_chef_container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.about_chef_container div:first-child {
  width: 60%;
}
.about_chef_container div img {
  width: 100%;
}
@media screen and (max-width: 700px) {
  .about_chef_container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
  }
  .about_chef_container div:first-child {
    width: 100%;
    max-width: 35rem;
    }
}

/**
  * About_Our_Story
 */
 .about_story_container {
    position: relative;
    width: 100%;
    margin-bottom: 15rem;
 }
.about_story_image {
  max-width: 680px; 
  width: 100%;
  padding: 0;
  margin: 0;
}
.about_story_content_container {
    background-color: #fff;
    opacity: 0.8;
    position: absolute;
    bottom: -30rem;
    right: 0;
    padding: 2rem 0 0 4rem;
    margin-bottom: 13rem;
    max-width: 480px;
}
@media screen and (max-width: 700px) {
  .about_story_content_container {
    background-color: none;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .about_story_container {
    margin-bottom: 0;
  }
}


/**
  * About Our Story Topicks
 */
.about_story_sub_container {
  display: relative;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  max-width: 720px;
  align-items: flex-end;
}
.about_story_sub_container_revers {
  flex-direction: row-reverse;
  align-self: flex-end;
}
.about_story_sub_container img {
  width: 100%;
  max-width: 350px;
}
@media screen and (max-width: 1100px) {
  .about_story_sub_container_revers {
  flex-direction: row;
  align-self: flex-start;
}
}
@media screen and (max-width: 700px) {
  .about_story_sub_container {
    flex-direction: column;
    max-width: 480px;
    align-items: flex-start;
  }
}

/**
  * About Gallery
 */
 .about_gallery_background {
  background-image: url('/assets/images/about_gallery_wave.png');
  background-repeat: repeat;
  min-height: 70vh;
  padding: 2rem 0 3rem 0;
}
 .about_gallery_container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1.5rem;
}
 .about_gallery_container div {
  width: 16%;
}
 .about_gallery_container div:last-child {
  display: none;
}
 .about_gallery_container div img {
  width: 100%;
  border: 1px solid #fff;
}
.about_gallery_image_title {
  padding: .5rem 0 0 0 ;
  margin: 0;
  font-size: 1rem;
  color: #fff;
}
@media screen and (max-width: 800px) {
  .about_gallery_background {
    min-height: 120vh;
  }
  .about_gallery_container div {
    width: 30%;
  }
  .about_gallery_container div:last-child {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .about_gallery_background {
    min-height: 170vh;
  }
  .about_gallery_container div {
    width: 45%;
  }
}
