body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings:
    "YOPQ" 300;
}
h3, h4, p {
  font-family: "Roboto", sans-serif;
  color: #4F4F4F;
  line-height: 160%;
}

/**
 * common
 */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-size: 2.5rem;
  text-align: center;
}
.description-container {
  max-width: 45rem;
  padding-bottom: 1.5rem;
}
.description {
  font-size: 1.5rem;
  text-align: center;
}
.text_white {
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .description-container {
   max-width: 100%;
  }
}
.btn {
  width: 11rem;
  padding: .8rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.btn:hover {
  opacity: 0.5;
}

.btn.outline {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
}
.btn.outline-white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/**
 * common (about and service page)
 */

.about_services_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top; 
  min-height: 80vh;
  height: 100%;
}
.white_transparent_container {
  width: 85%;
  max-width: 600px;
  background: #ffffff;
  opacity: 0.85;
  padding: 3rem;
}
@media screen and (max-width: 1100px) {
  .about_services_wrapper {
    background-size: cover;
  }
}
@media screen and (max-width: 800px) {
  .about_services_wrapper {
    background-size: 100%;
    max-height: 40vh;
  }
  .white_transparent_container {
    width: 100%;
    padding: 0 15px;
    margin-top: 24rem;
  }
}
@media screen and (max-width: 600px) {
  .white_transparent_container {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    opacity: 1;
    margin-top: 20rem;
  }
}

.about_services_header {
  font-size: 3.5rem;
  line-height: 150%;
  text-align: center;
}
.sub-title {
  color: #ffbd02;
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.button_container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .about_services_header {
    font-size: 2.8rem;
    line-height: 150%;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(1000px - 30px * 2);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}


/**
 * slider
 */
.slider-container {
  overflow: hidden;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  flex-grow: 7;
}

.slider-track {
  display: flex;
  transition: transform 1s ease;
}

.card {
  min-width: 100%;
  height: auto;
  padding: 3rem 5rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.slider-controls {
  text-align: center;
  flex-grow: 1;
}

.arrow-btn {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.arrow-btn.left {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #bbb;
}
.arrow-btn.left:hover {
  opacity: 0.5;
}
.arrow-btn.right {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #bbb;
}
.arrow-btn.right:hover{
  opacity: 0.5;
}
.feedback-header {
  font-size: 2.5rem;
  font-style: italic;
}
.quotation-mark {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10rem;
  line-height: 0%;
  color: #ffbd02;
  opacity: 0.5;
}
.feedback-client-name {
  text-align: right;
  font-weight: 500;
}


