<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/main.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <!-- Header content goes here -->
    </header>
    <main>
        <div class="wrapper">
            <div class="intro_container">
                <img src="/assets/images/home_intro.png" alt='Chef cooking image'>
                <div class="intro">
                <h2 class="intro_header">Kohaku <span class="intro_kanji">琥珀</span></h2>
                <h4 class="intro_subheader">Proudly Serving Japanese Cuisine</h4>
                <p>At Kohaku, we take pride in sharing the rich flavours 
                and traditions of Japanese cuisine. Led by Chef Kosuke, 
                every dish is thoughtfully prepared using seasonal 
                ingredients, time-honoured techniques, and a deep respect 
                for the craft. Whether you're planning a private 
                celebration, corporate event, or wedding, we bring 
                authentic taste and heartfelt hospitality to every guest.
                </p>
            </div>
        </div>
    </main>
    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>